<!DOCTYPE html>
<html lang="en">
<%-include('/Encabezado.html');%>
<body>
    <div id="container">
    <%{
         let Precio = 0;
         let Tipos = 0;
         let Cumplidos = 0;
     
         let Subtotal = 0;
         if (Tipos == 1) {
           Subtotal = Precio;
         } else if (Tipos == 2) {
           Subtotal = Precio + (Precio * 0.8);
         }
     
         let Impuesto = Subtotal * 0.16;
     
         let Descuento = 0;
         if (Cumplidos >= 60) {
           Descuento = (Subtotal + Impuesto)* 0.5;
         }
     
         let Total = (Subtotal + Impuesto) - Descuento;
        %>
        <div class="mb-3">
            <label for="Subtotal" class="form-label">Subtotal:</label>
            <input type="number" class="form-control" id="Subtotal" value="<%=Subtotal%>">
        </div>
        <div class="mb-3">
            <label for="Impuesto" class="form-label">Impuestos:</label>
            <input type="number" class="form-control" id="Impuesto" value="<%=Impuesto%>">
        </div>
        <div class="mb-3">
            <label for="Descuento" class="form-label">Descuento:</label>
            <input type="number" class="form-control" id="Descuento" value="<%=Descuento%>">
        </div>
        <div class="mb-3">
            <label for="Total" class="form-label">Total a pagar:</label>
            <input type="number" class="form-control" id="Total" value="<%=Total%>">
            </div>
        <%}%>
    </div>
    <%-include('partials/Pie.html');%>
</body>
</html>