<%-include('partials/Encabezado.html');%>

    <div class="container">
        <div class="container">
            <form>
            <div class="mb-3">
                <label for="NumBoleto" class="form-label">Num boleto:</label>
                <input type="number" class="form-control" id="NumBoleto" name="NumBoleto"
                    placeholder="Numero de boleto">
            </div>
            <div class="mb-3">
                <label for="Destino" class="form-label">Destino:</label>
                <input type="text" class="form-control" id="Destino" name="Destino" placeholder="Destino">
            </div>
            <div class="mb-3">
                <label for="Cliente" class="form-label">Cliente:</label>
                <input type="text" class="form-control" id="Cliente" name="Cliente" placeholder="Nombre del control">
            </div>
            <div class="mb-3">
                <label for="Cumplidos" class="form-label">Años cumplidos:</label>
                <input type="number" class="form-control" id="Cumplidos" name="Cumplidos" placeholder="Cumplidos">
            </div>
            <div class="mb-3">
                <label for="Tipos" class="form-label">Tipos de viaje:</label>
                <select class="form-control" id="Tipos" name="Tipos">
                    <option value="-1" selected disabled>Seleccione opción</option>
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="Precio" name="Precio" placeholder="Precio">
            </div>
            <center><div class="container">
                <button type="button" onclick="Calcular()" class="btn btn-primary">Calcular</button>
                <button type="button" onclick="limpiar()" class="btn btn-secondary">Limpiar</button>
            </div></center>
        </form>
            <hr>
            <div id="resultados"> </div>
            <hr>
    </div>
    <%-include('partials/Pie.html');%>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script>
            //calculo
            //publicación
     function Calcular() {
      let Precio = Number(document.getElementById('Precio').value);
      let Tipos = Number(document.getElementById('Tipos').value);
      let Cumplidos = Number(document.getElementById('Cumplidos').value);
  
      let Subtotal = 0;
      if (Tipos == 1) {
        Subtotal = Precio;
      } else if (Tipos == 2) {
        Subtotal = Precio + (Precio * 0.8);
      }
      
      let Impuesto = Subtotal * 0.16;
  
      let Descuento = 0;
      if (Cumplidos >= 60) {
        Descuento = (Subtotal + Impuesto)* 0.5;
      }
      
      let Total = parseFloat(Subtotal + Impuesto - Descuento);
      
      let resultados = document.getElementById('resultados');
      resultados.innerHTML = `
      <div class="table-responsive mt-3">
        <label for="Subtotal">Subtotal:</label>
        <input type="text" id="Subtotal" value="${Subtotal}" readonly><br>

        <label for="Impuestos">Impuestos (16%):</label>
        <input type="text" id="Impuestos" value="${Impuesto}" readonly><br>

        <label for="Descuento">Descuento:</label>
        <input type="text" id="Descuento" value="${Descuento}" readonly><br>

        <label for="Total">Total a pagar:</label>
        <input type="text" id="Total" value="${Total}" readonly><br>
      `;
    }
    function limpiar() {
        let resultados = document.getElementById('resultados');
        resultados.innerHTML = "";}
        </script>
    </html>